<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
       <link rel="stylesheet" href="/static/css/index.css">
       <link rel="stylesheet" href="/static/css/default.css">

       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <title>Taller de Proyectos II</title>
</head>


<body>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Temperatura</th>
          <th scope="col">Humedad</th>
          <th scope="col">Presión</th>
          <th scope="col">Veocidad de viento</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>samples[0].temperature</td>
            <td>samples[0].humidity</td>
            <td>samples[0].pressure</td>
            <td>samples[0].windspeed</td>
        </tr>
        <tr>
          <td>samples[1].temperature</td>
          <td>samples[1].humidity</td>
          <td>samples[1].pressure</td>
          <td>samples[1].windspeed</td>
        </tr>
        <tr>
          <td>samples[2].temperature</td>
          <td>samples[2].humidity</td>
          <td>samples[2].pressure</td>
          <td>samples[2].windspeed</td>
        </tr>
        <tr>
          <td>samples[3].temperature</td>
          <td>samples[3].humidity</td>
          <td>samples[3].pressure</td>
          <td>samples[3].windspeed</td>
        </tr>
        <tr>
          <td>samples[4].temperature</td>
          <td>samples[4].humidity</td>
          <td>samples[4].pressure</td>
          <td>samples[4].windspeed</td>
        </tr>
        <tr>
          <td>samples[5].temperature</td>
          <td>samples[5].humidity</td>
          <td>samples[5].pressure</td>
          <td>samples[5].windspeed</td>
        </tr>
        <tr>
          <td>samples[6].temperature</td>
          <td>samples[6].humidity</td>
          <td>samples[6].pressure</td>
          <td>samples[6].windspeed</td>
        </tr>
        <tr>
          <td>samples[7].temperature</td>
          <td>samples[7].humidity</td>
          <td>samples[7].pressure</td>
          <td>samples[7].windspeed</td>
        </tr>
        <tr>
          <td>samples[8].temperature</td>
          <td>samples[8].humidity</td>
          <td>samples[8].pressure</td>
          <td>samples[8].windspeed</td>
        </tr>
        <tr>
          <td>samples[9].temperature</td>
          <td>samples[9].humidity</td>
          <td>samples[9].pressure</td>
          <td>samples[9].windspeed</td>
        </tr>

      </tbody>
    </table>
</body>

</html>
