<!doctype html>
<html lang="en">

<head>
    <style>
        </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
       <link rel="stylesheet" href="/static/css/index.css">
       <link rel="stylesheet" href="/static/css/default.css">

      <link rel="shortcut icon" type="image/png" href="/img/fondo.png" />

    <title>Taller de Proyectos II</title>
</head>


<body>
  
<!--
    <form class="card card1" method="POST" action="/actualizar">
      <div class="form-group">
        <label for="sel1"><h5>Tiempo de recarga:</h5></label>
        <select class="custom-select" id="refresco" name="refresco">
          <option value="60">60</option>
          <option value="30">30</option>
          <option value="10">10</option>
          <option value="5">5</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </div>
      <div class="row start">
          <button type="submit" class="btn btn-success">Actualizar</button>
      </div>

    </form>
  -->
    <meta http-equiv="refresh" content='{{refresco}}'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
          <h1>Temperatura</h1>
            <h3>Promedio: {{promedios.temperature}}</h3>
            <small>Últimas muestras</small>
            {%for s in samples%}
              <small>{{s.temperature}} </small>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div div class="card">
            <h1>Humedad</h1>
            <h3>Promedio: {{promedios.humidity}}</h3>
            <small>Últimas muestras</small>
            {%for s in samples%}
              <small>{{s.humidity}} </small>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div div class="card">
            <h1>Presión</h1>
            <h3>Promedio: {{promedios.pressure}}</h3>
            <small>Últimas muestras</small>
            {%for s in samples%}
              <small>{{s.pressure}} </small>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div div class="card">
            <h1>Velocidad Viento</h1>
            <h3>Promedio: {{promedios.windspeed}}</h3>
            <small>Últimas muestras</small>
            {%for s in samples%}
              <small>{{s.windspeed}} </small>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <meta http-equiv="refresh" content='{{refresco}}'>

<div class="card card1">
      <label for="sel1"><h5>Tiempo de recarga:</h5></label>
    <div class="row justify-content-center">
    <div class="col-2">
      <form action="/1" method="post">
        <button class="btn btn-success" name="1" type="submit">1 seg</button>
      </form>
    </div>
    <div class="col-2">
      <form action="/2" method="post">
        <button class="btn btn-success" name="2" type="submit">2 seg</button>
      </form>
    </div>
    <div class="col-2">
      <form action="/5" method="post">
        <button class="btn btn-success" name="5" type="submit">5 seg</button>
      </form>
    </div>
    <div class="col-2">
      <form action="/10" method="post">
        <button class="btn btn-success" name="10" type="submit">10 seg</button>
      </form>
    </div>
    <div class="col-2">
      <form action="/30" method="post">
        <button class="btn btn-success" name="30" type="submit">30 seg</button>
      </form>
    </div>
    <div class="col-2">
      <form action="/60" method="post">
        <button class="btn btn-success" name="60" type="submit">60 seg</button>
      </form>
    </div>
  </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</body>
<footer>
  <form class="" action="/stop">
    <div class="form-group">
        <div class="row start">
            <button type="submit" class="btn btn-danger">Terminar Proceso</button>
        </div>
      </div>
</footer>
</html>
