.card {
    background-color: rgba(145, 255, 213, 0.527);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}  

.card1{
    margin-top: 10px;
 }

body  {
    background-image: url("https://hipertextual.com/files/2014/03/windows_xp_bliss-wide.jpg");
}

button{
    margin: auto;
    margin-bottom: 0.5cm;
}

btn-success{
    width: 40%;
}



.card1{
    margin-top: 1cm; 
    width: 50%;
}

label{
    margin-top: 0.5cm;
}
 